.highlightSection{
       padding-block: 1rem;
       position: relative;
}

.highlightSection h2{
    font-family: 'Markazi Text', serif;
    font-weight: 600;
    font-size: 3rem;
}

.highlightSection .firstRow{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* CAROUSEL */

.carousel{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 764px) {
    .highlightSection .firstRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    margin-inline:  9%;
    position: relative;
    padding-right: 4rem;
    }

    .carousel{
        padding: 0 10%;
    }
}

