
/* HERO SECTION */
.hero{
    background-color: var(--primary-color-1);
    padding: 2rem 4rem;
}
.hero h2{
    font-family: 'Markazi Text', serif;
    color: var(--primary-color-2);
    font-size: 5rem;
}

.hero h3{
    font-family: 'Karla', serif;
    font-size: 2rem;
    font-weight: normal;
    color: var(--highlight-color-2);
    margin-bottom: 1rem;
}

.hero p{
    font-family: 'Karla', serif;
    font-size: 1.1rem;
    font-weight: 200;
    color: var(--highlight-color-2);
    margin-bottom: 1rem;
}
.hero .first-column{
    flex: 0 1 440px;
}

.hero img{
    max-width: 455px;
    max-height: 455px;
    margin-top: 10px;
    border-radius: 16px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
    display: none;

}
.hero button{
    background-color: var(--primary-color-2);
    border: 0px;
    font-family: 'Karla', serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 16px;
    padding: 8px 16px;
    margin-top: 4rem;
}

@media screen and (min-width: 768px) {
    .hero{
    display: flex;
    justify-content: space-around;
    max-height: 432px;
    padding: 2rem;
    }

    .hero img {
        display: block;

    }
}


